@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --light-green: #55EABD;
    --light-blue: #00B5D2;
    --dark-blue: #2979B6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2,
p {
    font-family: 'open sans', sans serif;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

body {
    background-color: #FCF5F5;
}

header {
    background-color: var(--light-green);
    max-height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: var(--light-green);
    max-height: 7rem;
}

.wrapper {
    max-width: 1000px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 1px rgb(215, 210, 210);
}

.header__nav-form {
    display: flex;
    flex-direction: row;
    max-width: 17rem;
    align-self: flex-end;
    justify-content: center;
    padding: .5rem 1rem;
    margin-left: 1rem;
}

.header__nav-item {
    font-size: 1.2rem;
    font-family: 'open sans', sans serif;
    color: black;
    font-weight: 600;
    padding: .5rem 1rem;
    text-decoration: none;
}

.header__nav-form a:hover {
    background-color: var(--light-blue);
}

.header__nav-form .active {
    color: var(--dark-blue);
    font-weight: 700;
}

.header__img-size-postion {
    position: relative;
    max-width: 12rem;
    cursor: pointer;
    transform: translateY(55px);
}

.main__hero-positions {
    display: flex;
    flex-direction: column;
}

.main__hero-background {
    background-image: url("./pictures/09-day-2.jpg");
    height: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30%;
    /*gör att tomrummet när bilden skalas ner försvinner. Bild 1000x300*/
}

.main__form {
    background-color: var(--light-green);
    max-width: 24rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateY(-10px);
    align-self: center;
}

.main__form-booking-container {
    background-color: var(--light-blue);
    max-width: 100%;
    margin: 1rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.main__form-text-styling {
    font-family: 'open sans', sans serif;
    font-weight: 500;
    margin-right: .5rem;
}

.main__first-section {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    justify-content: space-around;
}

/*styling förslag-grid bokningssida*/
.main__section-img {
    max-width: 80%;
    align-self: center;
}

.main__h2-booking {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main__p-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.main__p-flex>p {
    max-width: 400px;
    padding: 1rem;
}

.main__grid-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.main__grid-item {
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    padding: 2rem;
}

.main__grid-item-1 {
    background-color: var(--light-green);
    border-radius: 0px 0px 0px 60px;
}

.main__grid-item-2 {
    color: white;
}

.main__grid-item-3 {
    color: white;
    background-color: var(--dark-blue);
    border-radius: 0px 50px 0px 0px;
}

.button__läsmer {
    border: none;
    font-size: .9rem;
    font-family: 'open sans', sans serif;
    align-self: flex-end;
    margin-top: 2rem;
    padding: .2rem;
    font-weight: bold;
    cursor: pointer;
}

.button__läsmer-dark-blue {
    background-color: var(--dark-blue);
    color: white;
}

.button__läsmer-light-green {
    background-color: var(--light-green);
}

.button__läsmer-light-blue {
    background-color: var(--light-blue);
    color: white;
}

.footer__img-sizing {
    justify-self: center;
    max-width: 14rem;
}

.footer__section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer__ul-item {
    font-size: .8rem;
    font-family: 'open sans', sans serif;
    color: black;
    font-weight: 300;
}

.footer__ul {
    list-style-type: none;
}

.footer__h3 {
    font-weight: bold;
}

@media screen and (max-width: 700px) {
    .main__grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .main__grid-item-1 {
        border-radius: 50px 0px 0px 0px;
    }

    .main__grid-item-2 {
        border-radius: 0px 0px 50px 0px;
    }

    .main__grid-item-3 {
        border-radius: 0px 0px 50px 0px;
    }

    .main__form-booking-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 485px) {

    .header__img-size-postion,
    .footer__img-sizing {
        display: none;
    }

    .main__grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .main__grid-item-2 {
        border-radius: 0px 0px 0px 0px;
    }
}